p{font-size: medium;

   font-style: italic;

   font-family: Georgia, 'Times New Roman', Times, serif;

   color: blue;}
h1{font-size : 36pt;

    font-family : verdana,arial;
    
    text-decoration : underline;
    
    text-align : center;
    
    background-color : Teal;}
body{background-color:lightblue;
}
footer{
   background-color: limegreen;
   font-family: fantasy;
   font-size: 1cm;
   color: darkgreen;
}
#o{color: rgb(12, 3, 71);}
#ab{
   color: chocolate;
   background-color: darkgray;
   font-size: 2cm;
   font-family: sans-serif;
}
.new{
   color: darkred;
   background-color: deeppink;
}

