p{font-size: medium; /* Cuando elijo medium, small, etc. es relativo al navegador 
   que se usa*/

   font-style: italic;

   font-family: 'Poppins', sans-serif;

   color: blue;}
h1{font-size : 36pt;

    font-family : verdana,arial;
    
    text-decoration : underline;
    
    text-align : center;
    
    background-color : Teal;}
body{background-color:lightblue;
}
footer{
   background-color: limegreen;
   font-family: fantasy;
   font: size 30px;
   color: darkgreen;
}
#o{color: rgb(12, 3, 71);}
#ab{
   color: chocolate;
   background-color: darkgray;
   font-size: 2cm;
   font-family: sans-serif;
}
.new{
   color: darkred;
   background-color: deeppink;
}
/* *{} Esto es un comentario y el "*" se usa como selector universal de todos
los elemntos
*/
/* font size: existe em y rem que son relativas a una font del sistema*/

